Repository AI-Dojo-Public/firehole: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_documentation, test_linter, test_formatter

.gitlab-ci.yml:

default:
  image: registry.gitlab.ics.muni.cz:443/cryton/cryton/ci-python:latest
  interruptible: true
  artifacts:
    expire_in: 30 days

stages:
  - test
  - publish
  - build

.documentation:
  rules:
    - changes:
        - mkdocs.yml
        - docs/**/*
        - .gitlab-ci.yml
    - when: never

.test:
  stage: test
  rules:
    - changes:
        - src/**/*
        - tests/**/*
        - pyproject.toml
        - poetry.lock
        - examples/proxy/**/*
        - .gitlab-ci.yml
    - when: never
  before_script:
    - poetry install --with docs

build_documentation:
  extends: .documentation
  stage: test
  before_script:
    - poetry install --with docs
  script:
    - poetry run mkdocs build

test_linter:
  extends: .test
  script:
    - poetry run ruff check

test_formatter:
  extends: .test
  script:
    - poetry run ruff format --diff

.publish:
  stage: publish
  rules:
    - if: $CI_SERVER_HOST != "gitlab.ics.muni.cz"
      when: never
    - if: $CI_COMMIT_TAG =~ /^[0-9]+\.[0-9]+\.([0-9]|[0-z])+$/ && $CI_COMMIT_REF_PROTECTED == "true"

upload_package_to_registry:
  extends: .publish
  script:
    - poetry config repositories.gitlab "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi"
    - poetry config http-basic.gitlab gitlab-ci-token "$CI_JOB_TOKEN"
    - poetry publish --repository gitlab --build

# Build and deploy pages
pages:
  extends: .documentation
  stage: build
  variables:
    HTTPS_REMOTE: https://${BOT_SHAKESPEARE_NAME}:${BOT_SHAKESPEARE_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git
    PAGES_BRANCH: "pages"
  before_script:
    - apt update && apt install -y git
    - git config user.name $BOT_SHAKESPEARE_NAME
    - git config user.email $BOT_SHAKESPEARE_NAME@asd.asd
    - git remote remove origin
    - git remote add origin $HTTPS_REMOTE
    - git branch -D $PAGES_BRANCH || echo "Branch not present."
    - git fetch --depth=1 origin $PAGES_BRANCH || echo "Branch doesn't exist yet."
    - poetry install --with docs
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
    - if: $CI_COMMIT_TAG =~ /^[0-9]+\.[0-9]+|x\.([0-9]|[0-z])+$/ && $CI_COMMIT_REF_PROTECTED == "true"
  script:
    - |
      if [[ "$CI_COMMIT_TAG" != "" ]]; then
        export DOCUMENTATION_VERSION=${CI_COMMIT_TAG%%.*}.x
        export ALIAS=latest
      else
        export DOCUMENTATION_VERSION=master
        export ALIAS=""
      fi
    - echo "DOCUMENTATION_VERSION $DOCUMENTATION_VERSION"
    - echo "ALIAS $ALIAS"
    - poetry run mike deploy
      --update-aliases
      --alias-type=redirect
      --push
      --branch $PAGES_BRANCH
      --deploy-prefix public
      $DOCUMENTATION_VERSION $ALIAS
    - poetry run mike set-default --push --branch $PAGES_BRANCH --deploy-prefix public latest || echo "The tag latest doesn't exist."
    - git checkout $PAGES_BRANCH
    - git log -1
  artifacts:
    expire_in: 30 days
    paths:
      - public/

resolve "Implement FTP proxy"
  config.yml
  docs/proxies/ftp/index.md
  docs/proxies/ftp/vulnerabilities/CVE-2011-2523.md
  mkdocs.yml
  src/firehole/proxies/__init__.py
  src/firehole/proxies/ftp/__init__.py
  src/firehole/proxies/ftp/proxy.py
  src/firehole/proxies/ftp/vulnerabilities/__init__.py
  src/firehole/proxies/ftp/vulnerabilities/cve_2011_2523/__init__.py
  src/firehole/proxies/ftp/vulnerabilities/cve_2011_2523/main.py
Due: build_documentation, test_linter, test_formatter

Resolve "Cannot Pickle 'SSLContext'"
  poetry.lock
  src/firehole/main.py
Due: test_linter, test_formatter

Resolve "Implement MySQL proxy"
  config.yml
  docs/proxies/mysql/index.md
  docs/proxies/mysql/vulnerabilities/CVE-2012-2122.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  src/firehole/proxies/__init__.py
  src/firehole/proxies/mysql/__init__.py
  src/firehole/proxies/mysql/proxy.py
  src/firehole/proxies/mysql/vulnerabilities/__init__.py
  src/firehole/proxies/mysql/vulnerabilities/cve_2012_2122/__init__.py
  src/firehole/proxies/mysql/vulnerabilities/cve_2012_2122/main.py
  src/firehole/proxies/mysql/vulnerabilities/vulnerability.py
Due: build_documentation, test_linter, test_formatter

Add SMB proxy
  config.yml
  docs/proxies/mysql/vulnerabilities/CVE-2012-2122.md
  docs/proxies/smb/index.md
  docs/proxies/smb/vulnerabilities/CVE-2024-99999.md
  mkdocs.yml
  src/firehole/proxies/__init__.py
  src/firehole/proxies/mysql/vulnerabilities/cve_2012_2122/main.py
  src/firehole/proxies/smb/__init__.py
  src/firehole/proxies/smb/proxy.py
  src/firehole/proxies/smb/vulnerabilities/__init__.py
  src/firehole/proxies/smb/vulnerabilities/cve_2024_99999/__init__.py
  src/firehole/proxies/smb/vulnerabilities/cve_2024_99999/main.py
Due: build_documentation, test_linter, test_formatter

Add option to autoselect host interface
  poetry.lock
  pyproject.toml
  src/firehole/main.py
Due: test_linter, test_formatter

docs: fixed path to the CVE-2011-2523 vulnerability
  mkdocs.yml
Due: build_documentation

docs: updated intro about the app
  docs/index.md
Due: build_documentation
